@font-face {
	font-family: "icons";
	src: url("../fonts/icomoon.eot?vmw6i2");
	src: url("../fonts/icomoon.eot?vmw6i2#iefix") format("embedded-opentype"),
		url("../fonts/icomoon.ttf?vmw6i2") format("truetype"), url("fonts/icomoon.woff?vmw6i2") format("woff"),
		url("../fonts/icomoon.svg?vmw6i2#icomoon") format("svg");
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

[class^="icon-"]::before,
[class*="icon-"]::before {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: "icons" !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-speaker-copy:before {
	content: "\e900";
}
.icon-monitor:before {
	content: "\e901";
}
.icon-vector:before {
	content: "\e902";
}
